.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: calc(var(--gap) * 0.5);
  border: none;
  border-radius: var(--border-radius-xs);
  padding: var(--spacing-sm) var(--spacing-regular);
  line-height: 1.25rem;
  font-size: var(--font-small);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.btn--primary {
  background: var(--cool-grey-900);
  color: var(--white);
}
