.popover {
  border: 1px solid var(--grey-200);
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius-sm);
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
