.profile-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--grey-500);
  color: var(--white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon--large {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-circle {
  border-radius: 50%;
  overflow: hidden;
}

.icon-square {
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  border: none;
}
